.DS_Store
node_modules
/dist

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Node.js ###
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### vs code ###
.vscode
/backend/src/main/resources/public/